@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ededed;
    --surface: 246 246 246;
    --primary-text: #3e3e3e;
    --subtext: 67 67 67;
    --primary: 255 186 25;
    --border: 153 153 153;
    --success: 47 158 68;
    --error: 224 49 49;
    --income: 100 211 171;
    --spending: 255 111 97;
    --mint: 100 211 171;
    --mustard: 255 186 25;
    --coral: 255 111 97;
    --input: #e8e8e8;
  }

  .dark {
    --background: 36 36 36;
    --surface: 49 49 49;
    --text: 246 246 246;
    --subtext: 184 184 184;
    --primary: 255 209 102;
    --border: 110 110 110;
    --success: 47 158 68;
    --error: 224 49 49;
    --income: 168 230 207;
    --spending: 255 111 97;
    --mint: 168 230 207;
    --mustard: 255 209 102;
    --coral: 255 111 97;
    --input: #e8e8e8;
  }
}

@layer utilities {
  /* --- Font utilities --- */

  /* Titles: Quicksand */
  .font-title {
    font-family: 'Quicksand-Regular';
  }
  .font-title-light {
    font-family: 'Quicksand-Light';
  }
  .font-title-medium {
    font-family: 'Quicksand-Medium';
  }
  .font-title-semibold {
    font-family: 'Quicksand-SemiBold';
  }
  .font-title-bold {
    font-family: 'Quicksand-Bold';
  }

  /* Body / general: Inter */
  .font-body {
    font-family: 'Inter_400Regular';
  }
  .font-body-medium {
    font-family: 'Inter_500Medium';
  }
  .font-body-semibold {
    font-family: 'Inter_600SemiBold';
  }
  .font-body-bold {
    font-family: 'Inter_700Bold';
  }
  .label {
    color: var(--primary-text);
    text-align: left;
    width: 100%;
    font-family: 'Inter_600SemiBold';
    font-size: 12px;
  }

  .input {
    font-family: 'Inter_400Regular';
    color: #989898;
    text-align: left;
    flex: 1;
    background-color: var(--input);
    border-radius: 12px;
    padding: 12px 12px;
    font-size: 12px;
  }

  .input::placeholder {
    color: #989898;
  }

  .button {
    color: #fff;
    font-family: 'Inter_600SemiBold';
    padding: 11px 40px;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    width: fit-content;
  }

}
